@(userForm: Form[PlayUser])
@import helper._
@import play.i18n._

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Quiz - @Messages.get("register")</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <script src="js/jquery.js" type="text/javascript"></script>
        <script src="js/framework.js" type="text/javascript"></script>
    </head>
    <body id="registerpage">
        <a class="accessibility" href="#register">@Messages.get("jump_to_registration")</a>
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
                <li><a id="loginlink" title="Klicke hier um dich anzumelden" href="/login" accesskey="l">@Messages.get("Login")</a></li>
            </ul>
        </nav>
        <section role="main" id="register" aria-labelledby="registerheading">
            <!-- Register section -->
            <h2 id="registerheading" class="accessibility">@Messages.get("registration")</h2>
            
            @form(routes.Application.register){
@**            <form action="@{routes.Login.completeRegistration()}" method="POST">	**@
                <fieldset>
                    <legend>@Messages.get("personal_data")</legend>
                    
                    @inputText(userForm("firstName"), '_label -> (Messages.get("firstname")+":"))
                    @inputText(userForm("lastName"), '_label -> (Messages.get("lastname")+":"))
                    @inputText(userForm("birthDate"), '_label -> (Messages.get("birthdate")+":"), '_showConstraints -> false)
                    

                    @select(
                    	userForm("gender"),
                    	options(Seq(Messages.get("male"), Messages.get("female"))),
                    	'_label -> (Messages.get("sex")+":"),
                    	'_showConstraints -> false
                    )
                </fieldset>
                <fieldset>
                    <legend>@Messages.get("login_data")</legend>
                    
                    @inputText(userForm("userName"), '_label -> (Messages.get("username")+":"), '_showConstraints -> false)
                    @inputPassword(userForm("password"), '_label -> (Messages.get("password")+":"), '_showConstraints -> false)
                    
@**************************************************************************                    
                    <label for="username">Benutzername*:</label>
                    <input id="username" type="text" required="required" pattern="\w{4,8}" name="userName"/>
                    <div id="error_msg_username" class="hide" role="alert">Der Benutzername muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.</div>
                    
                    <label for="password">Passwort*:</label>
                    <input id="password" type="password" required="required" pattern="\w{4,8}" name="password"/>
                    <div id="error_msg_password" class="hide" role="alert">Das Passwort muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.</div>
**************************************************************************@

                    <input id="registersubmit" type="submit" value=@Messages.get("register") accesskey="s"/>
                    <p id="requiredhint">@Messages.get("marked_mandatory_fields")</p>
                </fieldset>
@**            </form>	**@
				}

        </section>

        <!-- footer -->
        <footer role="contentinfo">© 2014 BIG Quiz</footer>
    </body>
</html>
